@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

* {
    box-sizing: border-box;
}
.brand-store {
    position: relative;
}

.title-brand {
    font-weight: bold;
}
.cover-img {
    width: 100%;
    height: 400px
}

.avatar-img {
    background-color: white;
    position: absolute;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    left: 10px;
    bottom: 5px
}