@page
@model RazorPages.Pages.Admin.AdminManager.StoreManager.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Store</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Store.Id" />
            <div class="form-group">
                <label asp-for="Store.Name" class="control-label"></label>
                <input asp-for="Store.Name" class="form-control" />
                <span asp-validation-for="Store.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Store.Address" class="control-label"></label>
                <input asp-for="Store.Address" class="form-control" />
                <span asp-validation-for="Store.Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Store.Phone" class="control-label"></label>
                <input asp-for="Store.Phone" class="form-control" />
                <span asp-validation-for="Store.Phone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Store.Email" class="control-label"></label>
                <input asp-for="Store.Email" class="form-control" />
                <span asp-validation-for="Store.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Store.Description" class="control-label"></label>
                <input asp-for="Store.Description" class="form-control" />
                <span asp-validation-for="Store.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Store.AvatarUrl" class="control-label"></label>
                <input asp-for="Store.AvatarUrl" class="form-control" />
                <span asp-validation-for="Store.AvatarUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Store.CoverUrl" class="control-label"></label>
                <input asp-for="Store.CoverUrl" class="form-control" />
                <span asp-validation-for="Store.CoverUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Store.FacebookUrl" class="control-label"></label>
                <input asp-for="Store.FacebookUrl" class="form-control" />
                <span asp-validation-for="Store.FacebookUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Store.Password" class="control-label"></label>
                <input asp-for="Store.Password" class="form-control" />
                <span asp-validation-for="Store.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Store.OpenTime" class="control-label"></label>
                <input asp-for="Store.OpenTime" class="form-control" />
                <span asp-validation-for="Store.OpenTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Store.CloseTime" class="control-label"></label>
                <input asp-for="Store.CloseTime" class="form-control" />
                <span asp-validation-for="Store.CloseTime" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Store.IsOpening" /> @Html.DisplayNameFor(model => model.Store.IsOpening)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="Store.CreatedAt" class="control-label"></label>
                <input asp-for="Store.CreatedAt" class="form-control" />
                <span asp-validation-for="Store.CreatedAt" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Store.IsBanned" /> @Html.DisplayNameFor(model => model.Store.IsBanned)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
