@page
@model RazorPages.Pages.Admin.AdminManager.CustomerManager.EditModel

@{
    ViewData["Title"] = "Chỉnh sửa";
}
@if (Model.Customer.IsBanned)
{
    <h1>Bỏ Chặn</h1>
}
else
{
    <h1>Chặn</h1>
}
<h4>Khách hàng</h4>
<hr />


@if (Model.Customer.IsBanned)
{
    <h3>Bạn có muốn bỏ chặn khách hàng này?</h3>

}
else
{
    <h3>Bạn có muốn chặn khách hàng này?</h3>
}

<form method="post">
    <input type="hidden" asp-for="Customer.Id" />
    @if (Model.Customer.IsBanned)
    {
        <input type="hidden" value="Unban" name="ban" />
        <input type="submit" value="Bỏ Chặn" class="btn btn-danger" />
    }
    else
    {
        <input type="hidden" value="Ban" name="ban" />
        <input type="submit" value="Chặn" class="btn btn-danger" />
    }
    |
    <a asp-page="./Index">Trở về danh sách khách hàng.</a>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
